{% include '../plantillas/menu.html' %}
{% include '../plantillas/sidebar.html' %}



{% load static %}

{% block archivos_css %}
{% endblock %}


<body>

    {% block sidebar %}
    {% endblock %}



    <p class="h4 text-muted"></p>
    <div class="section bg-theme-color-light overlay-dark overlay-opacity-8 bg-cover lazy" data-loaded="true"
        style="background-image: url(https://bootdey.com/img/Content/bg1.jpg);">

        <div class="container">

            <div class="row text-center-md text-center-xs d-middle justify-content-start">

                <div class="col-12 col-lg-6 mb-5 text-white aos-init aos-animate" data-aos="fade-in" data-aos-delay="0"
                    data-aos-offset="0">

                    <!-- main title -->
                    <h1 class="display-4 fw-bold mb-0">
                        <span class="d-inline-block">



                            <span class="text-danger">{{ventana}} </span> 
                    </h1>

                    <!-- slogan -->
                    <p class="h3 fw-normal mb-0">
                        Formulario de Datos
                    </p>

                </div>

                <div class="col-12 col-lg-6 text-align-end text-center-md text-center-xs aos-init aos-animate"
                    data-aos="fade-in" data-aos-delay="50" data-aos-offset="0">

                    <div
                        class="d-inline-block bg-white shadow-primary-xs rounded p-4 p-md-5 w-100 max-w-450 text-align-start">

                        <h2 class="h5 mb-5">
                            <i class="fi fi-homeadvisor"></i>
                            <span class="d-inline-block px-2">Formulario de Captura</span>
                        </h2>

                        <form novalidate="" class="bs-validate" method="get" action="#">

                            <div class="clearfix mb-3">
                                <label class="form-radio form-radio-secondary">
                                    <input type="radio" name="s_type" value="1" checked="">
                                    <i></i> Buy
                                </label>

                                <label class="form-radio form-radio-secondary ml-3">
                                    <input type="radio" name="s_type" value="2">
                                    <i></i> Rent
                                </label>
                            </div>

                            <div class="form-floating mb-3">
                                <input placeholder="Address or Zipcode" id="s_address" type="text" value=""
                                    class="form-control">
                                <label for="s_address">Address or Zipcode</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input placeholder="Address or Zipcode" id="s_address" type="text" value=""
                                    class="form-control">
                                <label for="s_address">Address or Zipcode</label>
                            </div>
                            <div class="form-floating mb-3">
                                <div class="form-floating mb-3">
                                    <input placeholder="Address or Zipcode" id="s_address" type="text" value=""
                                        class="form-control">
                                    <label for="s_address">Address or Zipcode</label>
                                </div>
                            </div>
                            <input placeholder="Address or Zipcode" id="s_address" type="text" value=""
                                class="form-control">
                            <label for="s_address">Address or Zipcode</label>
                    </div>

                    <button type="submit" class="btn w-100 btn-lg btn-danger bg-gradient-danger">
                        <i class="fi fi-search"></i>
                        Search
                    </button>
                    </form>

                </div>
            </div>
        </div>

    </div>


    </html>
</body>
{% block archivos_js %}
{% endblock %}

</html>