{% include '../plantillas/menu.html' %}
{% include '../plantillas/sidebar.html' %}



{% load static %}

{% block archivos_css %}
{% endblock %}


<body>

    {% block sidebar %}
    {% endblock %}



    <p class="h4 text-muted"></p>
    <div class="section bg-theme-color-light overlay-dark overlay-opacity-8 bg-cover lazy" data-loaded="true"
        style="background-image: url(https://bootdey.com/img/Content/bg1.jpg);">

        <div class="container">

            <div class="row text-center-md text-center-xs d-middle justify-content-start">

                <div class="col-12 col-lg-6 mb-5 text-white aos-init aos-animate" data-aos="fade-in" data-aos-delay="0"
                    data-aos-offset="0">

                    <!-- main title -->
                    <h1 class="display-4 fw-bold mb-0">
                        <span class="d-inline-block">



                            <span class="text-danger">{{ventana}} </span>
                    </h1>

                    <!-- slogan -->
                    <p class="h3 fw-normal mb-0">
                        Formulario de Datos
                    </p>

                </div>

                <div class="col-12 col-lg-6 text-align-end text-center-md text-center-xs aos-init aos-animate"
                    data-aos="fade-in" data-aos-delay="50" data-aos-offset="0">

                    <div
                        class="d-inline-block bg-white shadow-primary-xs rounded p-4 p-md-5 w-100 max-w-450 text-align-start">

                        <h2 class="h5 mb-5">
                            <i class="fi fi-homeadvisor"></i>
                            <span class="d-inline-block px-2">Formulario de Captura</span>
                        </h2>

                        <form novalidate="" class="bs-validate" method="POST" action="{% url 'alumno_guarda' %}">
                                {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input  id="s_address" name="matricula" type="text" value=""
                                    class="form-control">
                                <label for="s_address">Matricula</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select name="cuatrimestre" id="" class="form-control">
                                    <option value="0">--[Selecciona un Cuatrimestre]--</option>
                                    {% for datos in cuatris %}
                                    <option value="{{datos}}">{{datos}}</option>
                                    {% endfor%} 
                                </select>

                            </div>
                            <div class="form-floating mb-3">
                                <div class="form-floating mb-3">
                                    <input placeholder="Nombre" id="s_address" type="text" value="" name="nombre"
                                        class="form-control">
                                    <label for="s_address">Nombre Alumno</label>
                                </div>
                            </div>
                            <div class="form-floating mb-3"></div>
                            <div class="form-floating mb-3">
                                <input placeholder="Apellido Paterno" id="s_address" type="text" value="" name="paterno"
                                    class="form-control">
                                <label for="s_address">Apellido Paterno</label>
                            </div>

                            <div class="form-floating mb-3"></div>
                            <div class="form-floating mb-3">
                                <input placeholder="Apellido Materno" id="s_address" type="text" value="" name="materno"
                                    class="form-control">
                                <label for="s_address">Apellido Materno</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select name="estatus" id="" class="form-control">
                                    <option value="0">--[Selecciona un Estatus]--</option>
                                    <option value="1">Regular</option>
                                    <option value="2">Irregular</option>
                                    <option value="3">Condicionado</option>
                                    
                                </select>

                            </div>

                    </div>

                    <button type="submit" class="btn w-100 btn-lg btn-danger bg-gradient-danger">
                        <i class="fi fi-search"></i>
                       Guardar Alumno
                    </button>
                    </form>

                </div>
            </div>
        </div>

    </div>


    </html>
</body>
{% block archivos_js %}
{% endblock %}

</html>