{% load static %} 
{% include '../plantillas/menu.html' %} 
{% block sidebar %}
<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Menu Navegacion</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'sistema' %}">Inicio</a>
          </li>
         
          <li class="nav-item dropdown"></li>
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Alumnos
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="{% url 'alumnos' %}">Captura Alumno</a></li>
              <li><a class="dropdown-item" href="{% url 'consulta_alumnos' %}">Consulta Alumno</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Calificaciones
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="{% url 'captura_calificacion' %}">Captura Calificacion</a></li>
              <li><a class="dropdown-item" href="{% url 'consulta_calificacion' %}">Consulta Calificacion</a></li>
             
            </ul>
          </li>
          <li class="nav-item dropdown"></li>
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Usuarios
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="{% url 'alta_usuarios' %}">Captura Usuario</a></li>
              <li><a class="dropdown-item" href="{% url 'usuarios_lista' %}">Listado Usuarios</a></li>
             
              
            </ul>
          </li>
        </ul>
       
      </div>
    </div>
  </div>
</nav>




  {% endblock %}

